body {
    font-family: "Yantramanav", sans serif !important;
    font-size: 16px !important;
    background-color: #D3D3D3 !important;
}

h1 {
    color: #fa6e43 !important;
    font-family: "Righteous", cursive !important;
}

a {
    text-decoration: none !important;
    color: inherit !important;
}

input {
    border: none;
    background-color: inherit;
    color: white !important;
}

input:focus {
    outline: 0 !important;
}

.vcenter {
    display: inline-block !important;
    vertical-align: middle !important;
    float: none !important;
}

.nav-item {
    font-size: 20px;
}

.btn-group {
    border-radius: 0px !important;
}

.right-border {
    border-right: 1px solid black !important;
}

.left-border {
    border-left: 1px solid black !important;
}

.active {
    background-color: darkgrey;
    color: black;
}

.inactive {
    background-color: #404040;
    color: white;
}

button:focus {
    outline: 0 !important;
}

button:hover {
    color: inherit !important;
}

.clear-image-button {
    background-color: transparent;
    border: 0px;
    width: 35px;
    height: 35px;
    padding: 0px;
}

.icon-background {
    margin-top: 5%;
    background-color: #fa6e43;
    border-radius: 5px;
    height: 50%;
    width: 25%;
    padding: 0px;
}

.menu-item {
    cursor: pointer;
    height: 48%;
}

.menu-item:hover {
    background-color: darkgrey !important;
}

.icon {
    max-height: 95%;
    max-width: 95%;
}

.spin-div {
    max-height: 30px;
    max-width: 30px;
    -webkit-animation-name: spin;
    -webkit-animation-duration: 4000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 4000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 4000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;

    animation-name: spin;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@-ms-keyframes spin {
    from { -ms-transform: rotate(359deg); }
    to { -ms-transform: rotate(0deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(359deg); }
    to { -moz-transform: rotate(0deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(359deg); }
    to { -webkit-transform: rotate(0deg); }
}
@keyframes spin {
    from { transform:rotate(359deg); }
    to { transform:rotate(0deg); }
}

.add-button {
    cursor: pointer;
}

.list-group-item {
    background-color: #282828 !important;
    color: white;
    width: 98%;
    border: 2px solid #181818 !important;
    border-radius: 2px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 2px 2px 2px black;
}

.list-group-item:nth-child(n+2) {
    margin-top: 2%;
}

.list-button {
    background-color: #fa6e43;
    color: white;
    border-radius: 3px;
    outline: none;
}

.modal-dialog {
    width: 30%;
}

.modal-content {
    color: white;
    font-size: 1.5em;
    background-color: #181818;
    border: 2px solid #fa6e43;
}

.app-container {
    background-color: #404040;
    border: 1px solid #202020;;
    border-radius: 10px;
    height: 80%;
    min-height: 550px;
}

.widget-container {
    color: white;
    background-color: #181818;
    box-shadow: 10px 10px 10px black;
    height: 95%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}

.menu-container {
    background-color: darkgrey !important;
    color: black !important;
    height: 80% !important;
    padding: 2%;
}

.content-container {
    background-color: darkgrey !important;
    color: black !important;
    height: 80% !important;
    padding-top: 2%;
}

.modal-body {
    padding-bottom: 0px;
}

.submit-form:hover {
    color: #fa6e43 !important;
}
